<section>
  <table>
      <thead>
          <tr>
              <th colspan="2">JAVA</th>
              <th colspan="2">Medical</th>
          </tr>
          <tr>
              <td>Java</td>
              <td>Angular 6</td>
              <td>MySQL</td>
              <td>HTML/CSS</td>
          </tr>
          <tr>
              <td>Hibernate</td>
              <td>Spring</td>
              <td>JavaScript</td>
              <td>TypeScript</td>
          </tr>
          <tr>
              <td>Microsoft Office Suite</td>
              <td>Epic</td>
              <td>Centricity</td>
              <td>Availity</td>
          </tr>
          <tr>
              <td>jQuery</td>
              <td>JSON</td>
              <td>Git</td>
              <td>GitHub</td>
          </tr>
      </thead>

  </table>
</section>