<div id="container">
  <div style="text-align:center">
    <h1>
      {{ name }}
    </h1>
    <div style= "float: left">
      <h3>Contact info:</h3>
      {{phone}} {{email}} <br>
      {{github}} {{linkedin}}
    </div>
    <div>
      <img src="img/Angie.jpg" width="150px" height="150px">
    </div>
  </div>
  <hr>
  <div>
    <h3 style="text-align:center">Technology</h3>
    <app-technology></app-technology>
  </div>
  <div>
    <h3 style="text-align:center">Experience:</h3>
    <app-my-work-experience></app-my-work-experience>
  </div>
</div>